.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.content__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0 1% 1% 0;
    height: 9%;
}

.content__cards {
    margin: 10px;
    min-height: 80%;
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(3, 1fr);
}

.content__header--addBtn {
    margin-right: 1%; 
}

.content__header--clearBtn.ant-btn {
    margin-left: 1%; 
    background-color: #c75146;
}

.ant-card-head-title {
    text-align: center;
    font-size: 1.5em;
}

#create-card .ant-card-body {
    display: flex;
    align-items: center;
}

#create-card .ant-card-body {
    height: 100%;
}

.content__card__createBox {
    width: 100%;
    font-size: 3.1em;
    color: rgb(97, 97, 97);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

