.ant-layout.ant-layout-has-sider.sidebar {
    display: flex;
    height: 100%;
}

.ant-layout-sider-children{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
}

.siderbar__bar.ant-layout-sider.ant-layout-sider-dark{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.siderbar__bar__menu {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 10px;
}

.sidebar__bar__user{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
    width: 80%;
    height: 10%;
}

.sidebar__bar__user__name {
    color: white;
}