.singleItem {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.singleItem__delete:hover {
    cursor: pointer;
}

.ant-card.ant-card-bordered.content__card.projectCard .ant-card-body {
    height: 70%;
    padding: 4%;
}