.itemList {
    list-style: none;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Hides scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    padding: 15% 0 0 0;
}

/* Hides scrollbar for Safari, Opera and Chrome*/
ul.itemList::-webkit-scrollbar {
    display: none;
}

.content__card.projectCard .ant-card-body {
    height: 78%;
}

.content__card.projectCard .ant-card-header {
    height: 15%;
}

.ant-input-wrapper.ant-input-group {
    margin: 5% 0;
    width: 100%;
}

.card-body-top {
    height: 80%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.card-body-bottom {
    height: 20%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newItemModal .ant-modal-content .ant-modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectCard__header__top {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: 0.5em;
}

.projectCard__header__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7em;;
}

.projectCard__header__top--deleteBtn:hover {
    cursor: pointer;
}