.itemList {
    list-style: none;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.content__card.projectCard .ant-card-body {
    height: 80%;
}

.content__card.projectCard .ant-card-header {
    height: 20%;
}

.ant-input-wrapper.ant-input-group {
    margin: 5% 0;
    width: 100%;
}

.card-body-top {
    height: 80%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.card-body-bottom {
    height: 20%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newItemModal .ant-modal-content .ant-modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Hides scrollbar for Safari, Opera and Chrome*/
ul.itemList::-webkit-scrollbar {
    display: none;
  }
  
/* Hides scrollbar for IE, Edge and Firefox */
ul.itemList {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}