.nameForm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(146, 146, 146);
}

.nameForm_control.ant-input.ant-input-lg {
    width: 50%;
    border: none;
    text-align: center;
}
.ant-input-group-wrapper.ant-input-group-wrapper-lg.nameForm_control {
    width: 70%;

}

/* .nameForm_control.form-control.form-control-lg:select {
    outline:none;
    outline-width: 0;
} */